body {
  background-color: papayawhip;
}

h1 {
  color: sienna;
  text-indent: 20px
}

h2 {
  color: sienna;
  margin: 20px;
  font-family: geneva;
  font-size: 15px

}

.name1 {
  color: salmon;
  margin: 30px;
  padding: 0.5px;
  font-family: geneva;
  font-size: 22px;
}

.name2 {
  color: salmon;
  margin: 30px;
  padding: 0.5px;
  font-family: geneva;
  font-size: 22px;
}

.question1 {
  background-color: snow;
  font-family: tnr;
  font-size: 22px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.answer1 {
  background-color: snow;
  font-family: tnr;
  font-size: 20px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.question2 {
  background-color: snow;
  font-family: tnr;
  font-size: 22px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.answer2 {
  background-color: snow;
  font-family: tnr;
  font-size: 20px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.question3 {
  background-color: snow;
  font-family: tnr;
  font-size: 22px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.answer3 {
  background-color: snow;
  font-family: tnr;
  font-size: 20px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.question4 {
  background-color: snow;
  font-family: tnr;
  font-size: 22px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.answer4 {
  background-color: snow;
  font-family: tnr;
  font-size: 20px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.question5 {
  background-color: snow;
  font-family: tnr;
  font-size: 22px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.answer5 {
  background-color: snow;
  font-family: tnr;
  font-size: 20px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.question6 {
  background-color: snow;
  font-family: tnr;
  font-size: 22px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.answer6 {
  background-color: snow;
  font-family: tnr;
  font-size: 20px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.question7 {
  background-color: snow;
  font-family: tnr;
  font-size: 22px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.answer7 {
  background-color: snow;
  font-family: tnr;
  font-size: 20px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.question8 {
  background-color: snow;
  font-family: tnr;
  font-size: 22px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.answer8 {
  background-color: snow;
  font-family: tnr;
  font-size: 20px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.question9 {
  background-color: snow;
  font-family: tnr;
  font-size: 22px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.answer9 {
  background-color: snow;
  font-family: tnr;
  font-size: 20px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.question10 {
  background-color: snow;
  font-family: tnr;
  font-size: 22px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}

.answer10 {
  background-color: snow;
  font-family: tnr;
  font-size: 20px;
  margin: 7px;
  padding: 10px;
  border-radius: 30px
}